<div class="hero-unit">
  <h1>Mullet.</h1>
  <p>Business is the front (-end), party in the back (-end). Sign in to access your tweets and start making boxes!</p>
  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="container">
	<% if user_signed_in? %>
		<!-- <img src="https://api.twitter.com/1/users/profile_image?screen_name=<%= current_user.username %>&size=original" /> -->
		<% Twitter.user_timeline(current_user.username, :count => 20).each do |t| %>
			<div class="tweet" data-tweet-id="<%= t.id %>">
				<%= t.text %><br />
			</div>
		<% end %>
	<% else %>
</div>
<% end %>